@import url('https://rsms.me/inter/inter.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  color: #000;
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 10pt;
  box-sizing: border-box;
}

header {
  margin: 20px auto;
  padding: 0 2%;
  max-width: 1200px;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

main, footer {
  padding: 0 2%;
}

footer {
  margin: 20px auto;
  text-align: center;
  font-size: 110%;
}

main {
  width: 100%;
  background-color: rgba(235, 233, 233, 0.815); 
  display: flex;
  flex-direction: column;
  align-items: center;
  .page{
    max-width: 950px;
  }

  img {
    width: 100%;
    height: 25%;
    margin: 1em;
    max-width: 950px;
  }
}

a {
  color: inherit;
}

.img-about {
  width: 300px;
}

.gallery{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 

  img {
    width: 130px;
  }

  .lampentext {
    text-align: justify
  }
}

.logotext {
  text-align: justify;
  margin: auto;
  width: 60%;
}

.social {
  display: flex;
  align-items: baseline;
  justify-content: center;
  
  a {
    margin: 0 20px;
    display: block;
  }
}

.abouttext{
  text-align: justify;
  margin: auto;
  width: 60%;
}